<!DOCTYPE HTML>
<html>
    <head>
        {include file="Common/_meta" /} 
        <title>优惠券列表</title>
        <script type="text/javascript" src="__STATIC__/h-admin/js/coupon/couponlist.js"></script>
    </head>
    <body>
        <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 优惠券管理 <span class="c-gray en">&gt;</span> 优惠券列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
        <div class="page-container">
            <form action="" method="post" class="form form-horizontal" id="forms">
                <div class="text-c">优惠券类型&nbsp;
                    <span class="select-box" style="width:150px">
                        <select name="type" class="select type">
                            <option value="" >请选择</option>
                            <option value="1" {eq name="type" value="1"} selected {/eq}>商品</option>
                            <option value="2" {eq name="type" value="2"} selected {/eq}>店铺</option>
                        </select>
                    </span>
                    <input type="text" class="input-text" style="width:250px" placeholder="优惠券名称/商品名称/店铺名称" id="search" name="search" value="{$search}">
                    <button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 搜优惠券</button>
                </div>
            </form>
            <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" onclick="href_url('添加优惠券', '__URL__/couponAdd')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加优惠券</a></span> <span class="r"><strong>{$limit}</strong>条/页,共有数据：<strong>{$allcount}</strong> 条</span> </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="40"><input name="" type="checkbox" value=""></th>
                            <th width="80">ID</th>
                            <th>优惠券封面</th>
                            <th>优惠券名称</th>
                            <th>类型指定名称</th>
                            <th width="70">类型</th>
                            <th width="70">金额</th>
                            <th width="60">满足金额</th>
                            <th width="150">有效开始时间</th>
                            <th width="150">有效结束时间</th>
                            <th width="70">时间状态</th>
                            <th width="70">发布状态</th>
                            <th width="100">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="list" id="vo"}
                        <tr class="text-c">
                            <td><input name="id[]" type="checkbox" value="{$vo.cop_id}"></td>
                            <td>{$vo.cop_id}</td>
                            <td><img src="__STATIC__/{$vo['cop_img']}" width="100" height="50"></td>
                            
                            <td>{$vo.cop_name}</td>
                            <td>
                                <div class="goods-names">
                                {if $vo['type']=='1'}
                                商品名称：{$vo.goods_name}
                                {elseif $vo['type']=='2'/}
                                店铺名称：{$vo.store_name}
                                {else/}
                                其他
                                {/if}
                                </div>
                            </td>
                            <td>
                                {if $vo['type']=='1'}
                                商品优惠券
                                {elseif $vo['type']=='2'/}
                                店铺优惠券
                                {else/}
                                其他优惠券
                                {/if}
                            </td>
                            <td>{$vo.cop_price}</td>
                            <td>{$vo.full_amount}</td>
                            <td>{$vo.copa_time}</td>
                            <td>{$vo.copb_time}</td>
                            <td>{if $vo['state']=='1'} 
                                <span class="label label-success radius">有效</span>
                                {else /} 
                                <span class="label label-defaunt radius">过期</span>
                                {/if}
                            </td>
                            <td class="td-status">
                                {if $vo['cop_show']=='1'} 
                                <span class="label label-success radius">已发布</span>
                                {else /} 
                                <span class="label label-defaunt radius">已下架</span>
                                {/if}
                            </td>
                            <td class="td-manage">
                                <a onClick="isShow(this, '{$vo.cop_id}')" data-type="{$vo['cop_show']}" href="javascript:;" title="{if $vo['cop_show']=='1'} 下架 {else /} 发布 {/if}">
                                    <i class="Hui-iconfont">&#xe6de;</i>
                                </a>
                                <a class="ml-5" onClick="href_url('图库编辑', '__URL__/couponEdit?cop_id={$vo.cop_id}', '10001')" href="javascript:;" title="编辑">
                                    <i class="Hui-iconfont">&#xe6df;</i>
                                </a>
                                <a class="ml-5" onClick="datadel('{$vo.cop_id}')" href="javascript:;" title="删除">
                                    <i class="Hui-iconfont">&#xe6e2;</i>
                                </a>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
                {$page}
            </div>
        </div>

        <!--_footer 作为公共模版分离出去-->
        {include file="Common/_footer" /}
        <!--/_footer 作为公共模版分离出去-->
    </body>
</html>