.mname-all{
    width:100%;
}
.mname-auto{
    width:85%;
    margin:0px auto;
}
.mname-ul{
    width:100%;
}
.mname-ul li{
    margin-top: 15px;
    width:100%;
    float: left;
}
.mname-xiugai div{
    float: left;
}
.mname-title{
    line-height:35px;
}
.mname-input{
    width:100%;
}
.mname-btndiv{
    width:100%;
    height:40px;
    text-align: center;
    margin-top: 20px;
    float: left;
}
.mname-btn{
    width:100%;
    height:40px;
    text-align: center;
    display: block;
    line-height:40px;
    background: #ff0033;
    color:#fff;
}
.mobile-in{
    border:1px solid #ccc;
}
.inputtext{
    width:50%;
    float: left;
    border:none;
}
.bacgbtn{
    background: #666;
    float: right;
    border-radius: 0px;
}