<!DOCTYPE HTML>
<html>
    <head>
        {include file="Common/_meta" /} 
        <title>提现申请列表</title>
        <script type="text/javascript" src="__STATIC__/h-admin/js/withdrawal/withdrawal_list.js"></script>
    </head>
    <body>
        <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 提现申请管理 <span class="c-gray en">&gt;</span> 提现申请列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
        <div class="page-container">
            <form action="" method="post" class="form form-horizontal" id="forms">
                <div class="text-c">状态
                    <span class="select-box" style="width:150px">
                        <select name="state" class="select state">
                            <option value="0">请选择状态</option>
                            <option value="1" {eq name=":input('state')" value="1"} selected{/eq}>申请中</option>
                            <option value="2" {eq name=":input('state')" value="2"} selected{/eq}>审核成功</option>
                            <option value="3" {eq name=":input('state')" value="3"} selected{/eq}>审核失败</option>
                            <option value="4" {eq name=":input('state')" value="4"} selected{/eq}>已关闭</option>
                            <option value="5" {eq name=":input('state')" value="5"} selected{/eq}>已转账</option>
                        </select>
                    </span>
                    日期范围：
                    <input type="text" onfocus="WdatePicker({maxDate: '#F[$dp.$D(\'datemax\')||\'%y-%M-%d\']', maxDate: '%y-%M-%d'})" id="datemin" name="datemin" value="{:input('datemin')}" class="input-text Wdate" style="width:120px;">
                    -
                    <input type="text" onfocus="WdatePicker({maxDate: '#F[$dp.$D(\'datemin\')]', maxDate: '%y-%M-%d'})" id="datemax" name="datemax" value="{:input('datemax')}" class="input-text Wdate" style="width:120px;">

                    <input type="text" class="input-text" style="width:250px" placeholder="提现申请用户/商品名称" id="search" name="search" value="{:input('search')}">
                    <button type="submit" class="btn btn-success radius" ><i class="Hui-iconfont">&#xe665;</i> 搜提现申请</button>
                </div>
            </form>
            <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel(this)" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                </span> <span class="r"><strong>{$limit}</strong>条/页,共有数据：<strong>{$list['total']}</strong> 条</span> </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="40"><input name="" type="checkbox" value=""></th>
                            <th width="80">ID</th>
                            <th width="100">申请金额</th>
                            <th>银行名称</th>
                            <th>银行账号</th>
                            <th width="100">银行账户名</th>
                            <th width="150">店铺名称</th>
                            <th width="150">余额</th>
                            <th width="130">申请时间</th>
                            <th width="150">注释</th>
                            <th width="130">状态</th>
                            <th width="100">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="list['data']" id="vo"}
                        <tr class="text-c">
                            <td><input name="id[]" type="checkbox" value="{$vo.id}"></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.toapplyfor_amount}</td>
                            <td>{$vo.bank_name}</td>
                            <td>{$vo.bank_account}</td>
                            <td>{$vo.account_name}</td>
                            <td>{$vo.store_name}</td>
                            <td>{$vo.balance}</td>
                            <td>{$vo.create_time}</td>
                            <td>{$vo.note}</td>
                            <td>
                                {eq name="vo['state']" value="1"}<font color="#007DDB">申请中</font>{/eq}
                                {eq name="vo['state']" value="2"}<font color="green">审核成功</font>{/eq}
                                {eq name="vo['state']" value="3"}<font color="red">审核失败</font>{/eq}
                                {eq name="vo['state']" value="4"}<font color="red">已关闭</font>{/eq}
                                {eq name="vo['state']" value="5"}<font color="green">已转账</font>{/eq}
                            </td>

                            <td class="td-manage">
<!--                                <span class="select-box" style="width:150px">
                                    <select name="state" class="select" onchange="modifyState(this,'{$vo.id}')">
                                        <option value="0">修改状态</option>
                                        <option value="1">申请中</option>
                                        <option value="2">审核成功</option>
                                        <option value="3">审核失败</option>
                                        <option value="4">已关闭</option>
                                        <option value="5">已转账</option>
                                    </select>
                                </span>-->
                                <a style="text-decoration:none" class="ml-5" onClick="href_jump('编辑', '__URL__/withdrawal_edit?id={$vo.id}')" href="javascript:;" title="编辑">
                                    <i class="Hui-iconfont">&#xe6df;</i>
                                </a>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
                {$page}
            </div>
        </div>

        <!--_footer 作为公共模版分离出去-->
        {include file="Common/_footer" /}
        <!--/_footer 作为公共模版分离出去-->
    </body>
</html>