<!DOCTYPE HTML>
<html>
    <head>
        {include file="Common/_meta" /} 
        <title>添加模板</title>
        <script type="text/javascript" src="__STATIC__/h-admin/js/system/template_add.js"></script>
    </head>
    <body>
        <div class="page-container">
            <form class="form form-horizontal" id="form-article-add" method="post" enctype="multipart/form-data" name="fileinfo">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>模板名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$info.tmp_name}" placeholder="" id="tmp_name" name="tmp_name">
                    </div>
                </div>
              
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"> 更新时间：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <div class="">{$info.create_time}</div>
                    </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                        <button class="btn btn-primary radius" type="button" onclick="templateSumit(this);"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
                        <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                    </div>
                </div>
                <input type="hidden" value="{$info.id}" name="id"/>
                <input type="hidden" value="{$tmp_type}" name="tmp_type"/>
            </form>
        </div>

       

    </body>
</html>