.order-det{
    margin-left: 10px;
    margin-top: 10px;
}
.orderdet-li{
    clear:both;
    float: left;
    border-bottom: 1px solid #eee;
    width:98%;
    padding-bottom: 10px;
    background: #fff;
    padding-left: 10px;
    padding-top: 10px;
}
.orderdet-img{
    width:140px;
    height:140px;
    overflow: hidden;
}
.orderdet-img img{
    width:100%;
}
.orderdet-text{
    width:750px;
    margin-left: 10px;
}
.orderdet-name{
    width:740px;
    height:47px;
    overflow: hidden;
}
.orderdet-er{
    margin-top: 20px;
}
.goods-price{
    color:red;
    font-weight: 800;
}
.goods-price2{
    color:red;
}
.goods-guige{
    color:#999;
    margin-top: 10px;
}
.btnlist-a{
    padding: 5px 10px;
    background: #eee;
}
.wuliu-btn{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.comadd-all{
    width:100%;
}
.formdiv{
    width:100%;  
}
.comadd-auto{
    width:90%;
    margin:10px auto;
}
.comadd-text{
    width:100%;
}
.comadd-tares{
    width:100%;
    height:100px;
    padding: 5px;
}
.comadd-img{
    width:100%;
}
.comadd-imgul{
    float: left;
}
.comadd-imgli{
    width:100px;
    height:100px;
    overflow: hidden;
    float:left;
    margin: 2px;
}
.comadd-imgli img{
    width:92%;
    height:92%;
}
.comadd-imgup{
    width:100px;
    height:100px;
    overflow: hidden;
}
.comadd-imgup img{
    width:100%;
}
.comadd-btn{
    width:100%;
    height:30px;
    background: red;
    margin: 10px auto;
}
.comadd-btn a{
    width:100%;
    height:100%;
    display: block;
    text-align: center;
    line-height:30px;
    color:#fff;
    font-size: 16px;
}
.comadd-btn a:active{
    background: #cc0033;
}
.comadd-xing{
    margin-left: 10px;
}
.comadd-xing span{
    line-height: 30px;
}
.comadd-xing img{
    cursor: pointer;
}
