<!DOCTYPE HTML>
<html>
    <head>
        {include file="Common/_meta" /} 
        <title>新增促销</title>
        <script type="text/javascript" src="__STATIC__/h-admin/js/comdysales_promotion/comdsption_details.js"></script>
    </head>
    <body>
        <div class="page-container">
            <form class="form form-horizontal" id="form-article-add" method="post" enctype="multipart/form-data" name="fileinfo">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>促销名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$info['cp_name']}" placeholder="促销名称" id="cp_name" name="cp_name">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>活动类型：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <span class="select-box" style="width:250px">
                            <select name="cp_type" class="select" onchange="cpType(this)">
                                <option value="1" {eq name="info['cp_type']" value="1"} selected {/eq}>直接打折</option>
                                <option value="2" {eq name="info['cp_type']" value="2"} selected {/eq}>特价优惠</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2" id="cptypes_title">
                        <i class="c-red">*</i>
                        <span id="discount_title" style="display: {if $info['cp_type']==1}initial{else/}none{/if}">折扣(如：7.5)：</span>
                        <span id="cpprice_title" style="display: {if $info['cp_type']==2}initial{else/}none{/if}">促销价格(￥)：</span>
                    </label>
                    <div class="formControls col-xs-8 col-sm-9" id="cptypes_text">
                        <input type="text" class="input-text" value="{$info['discount']}" id="discount" name="discount" style="display: {if $info['cp_type']==1}initial{else/}none{/if}">
                        <input type="text" class="input-text" value="{$info['cp_price']}" id="cp_price" name="cp_price" style="display: {if $info['cp_type']==2}initial{else/}none{/if}">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>限购数量：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$info['cp_num']}" id="cp_num" name="cp_num">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>选择促销商品：<br/>(输入商品名称或商品ID)</label>
                    <div class="formControls col-xs-8 col-sm-9 divwks">
                        <input type="text" class="input-text" value="￥{$goodsInfo['goods_price']},{$goodsInfo['goods_name']}" oninput="goodsList(this)" id="goods_id" name="goods_id">
                        <input type="hidden" name="goods_id" value="{$info.goods_id}" class="goods_id" />
                        <ul class="worksul goodsulclick"></ul>
                    </div>
                </div>
                <<div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">促销图片：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <div class="uploader-thum-container">
                            <label class="fileLabel btn btn-default btn-uploadstar radius" for="images">选择文件</label>
                            <input class="common-text required" onchange="getPhoto(this)" id="images" style="display: none;" name="cp_img" size="50" type="file"><br/>

                            <p class="ge_pic_icon_Infor">
                                <img src="__STATIC__/{$info['cp_img']}" width="200" />
                            </p>
                            <input type="hidden" value="{$info['cp_img']}" name="cp_img" />
                        </div>
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">开始时间：</label>
                    <div class="formControls col-xs-8 col-sm-9" id="start_time_div">
                        <input type="text" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss'})" class="input-text Wdate" value="{$info['start_time']}" id="start_time" name="start_time" style="width:200px;" readonly>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>结束时间：</label>
                    <div class="formControls col-xs-8 col-sm-9" id="end_time_div">
                        <input type="text" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss'})" placeholder="结束时间" id="end_time" name="end_time" value="{$info['end_time']}" class="input-text Wdate" style="width:200px;">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">排序值：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$info['sort']}" placeholder="排序值" id="sort" name="sort">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">促销描述：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <textarea cols="50" rows="5" name="description" id="description">{$info['description']}</textarea>
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">状态：</label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="radio-box">
                            <input  type="radio" value="1" id="sex-1" name="is_show" {eq name="info['is_show']" value="1"} checked {/eq}>
                            <label for="sex-1">发布</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" name="is_show" id="sex-2" value="2" {eq name="info['is_show']" value="2"} checked {/eq}>
                            <label for="sex-2">下架</label>
                        </div>
                    </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                        <button class="btn btn-primary radius" onclick="detailsComdsption(this)"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
                        <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                    </div>
                </div>
                <input type="hidden" value="{$info['id']}" name="id" />
            </form>
        </div>


        <!--_footer 作为公共模版分离出去-->
        {include file="Common/_footer" /}
        <!--/_footer 作为公共模版分离出去-->

    </body>
</html>