<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
    <head>
        {include file="Common/_meta" /}
        <title>栏目设置</title>
        <script type="text/javascript" src="__STATIC__/h-admin/js/directory/directory_add.js"></script>
        <link rel="stylesheet" type="text/css" href="__STATIC__/h-admin/css/backgroundsection/add.css" />
        {include file="Common/editor" /}
        <style>
            .form-horizontal .form-label {
                text-align: right;
            }
        </style>
    </head>
    <body>
        <div class="page-container">
            <form action="" method="post" class="form form-horizontal" name="fileinfo" id="form-category-add">
                <div id="tab-category" class="HuiTab">
                    <a class="btn btn-success radius r" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>

                    <div class="tabBar cl">
                        <span>基本设置</span>
                        <span>详情设置</span>
                        <span>模版设置</span>
                        <span>SEO</span>
                    </div>

                    <div class="tabCon">
                        {if $info['id']}
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2">栏目ID：</label>
                            <div class="formControls col-xs-8 col-sm-9">{$info.id}</div>
                        </div>
                        {/if}
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2">
                                <span class="c-red">*</span>
                                上级栏目：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <span class="select-box">
                                    <select class="select" id="sel_Sub" name="pid" onchange="SetSubID(this);">
                                        <option value="0">顶级分类</option>
                                        {volist name="list" id="vo"}
                                        <option value="{$vo.id}" {if ($vo['id']==$info['pid'])||($vo['id']==$id&&$hiehy)} selected {/if} {if $vo['id']==$info['id']} disabled {/if}>
                                                |{for start="1" end="$vo['hierarchy']+1"}----{/for}{$vo.title}
                                    </option>
                                    {/volist}
                                </select>
                            </span>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">内容类型：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <span class="select-box">
                                <select name="type" class="select">
                                    <option value="1" {if $info['type']==1} selected {/if}>文章</option>
                                    <option value="2" {if $info['type']==2} selected {/if}>图片</option>
                                    <option value="3" {if $info['type']==3} selected {/if}>商品</option>
                                    <option value="4" {if $info['type']==4} selected {/if}>视频</option>
                                    <option value="5" {if $info['type']==5} selected {/if}>专题</option>
                                    <option value="6" {if $info['type']==6} selected {/if}>链接</option>
                                    <option value="7" {if $info['type']==7} selected {/if}>底部信息</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">图片：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <div class="uploader-thum-container">
                                <label class="fileLabel btn btn-default btn-uploadstar radius" for="images">选择文件</label>
                                <input class="common-text required" onchange="getPhoto(this)" id="images" style="display: none;" name="images" size="50" type="file"><br/>

                                <p class="ge_pic_icon_Infor">
                                    {if $info['images']}
                                    <img src="{$info.images}" id="imgShow" width="200" title="图片" onerror="this.src='';"/>
                                    {/if}
                                </p>
                                <input type="hidden" value="{$info.images}" class="images" name="images"/>
                            </div>
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>小图标：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <ul class="small_icon_ul">
                                {volist name="small_icon" id="vo" key="i"}
                                <li data-smallicon="{$i}" data-text="{$vo['icon']}">
                                    <a href="#" title="{$vo['title']}" class="{if $info['small_icon']==$i}activeas{/if}"><i class="Hui-iconfont">{$vo['icon']}</i></a>
                                </li>
                                {/volist}

                            </ul>
                            <p class="p_img" title="{$small_icon[$info['small_icon']]['title']}"><i class="Hui-iconfont">{$small_icon[$info['small_icon']]['icon']}</i></p>
                            <input type="hidden" name="small_icon" id="small_icon" value="{if $info}{$info.small_icon}{else/}1{/if}" />
                        </div>
                    </div>

                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">
                            <span class="c-red">*</span>
                            分类名称：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="{$info.title}" placeholder="" id="title" name="title">
                        </div>
                        <div class="col-3">
                        </div>
                    </div>

                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">别名：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="{$info.alias}" placeholder="" id="" name="alias">
                        </div>
                        <div class="col-3">
                        </div>
                    </div>

                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">排序：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="{if $info.sort}{$info.sort}{else/}1000{/if}" placeholder="" name="sort">
                        </div>
                        <div class="col-3">
                        </div>
                    </div>

                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">显示状态：</label>
                        <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                            <div class="radio-box">
                                <input  type="radio" value="1" id="sex-1" name="is_show" {if !$info || $info['is_show']=='1'} checked {/if}>
                                        <label for="sex-1">显示</label>
                            </div>
                            <div class="radio-box">
                                <input type="radio" name="is_show" id="sex-0" value="0" {if $info['is_show']=='0'} checked {/if}>
                                       <label for="sex-0">隐藏</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="tabCon">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">摘要：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <textarea name="abstract" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this, 100)">{$info.abstract}</textarea>
                            <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>内容：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <textarea id="editor" class="kindeditor" name="dir_content" style="width:100%;height:300px;"><?php echo htmlspecialchars_decode($info['dir_content']); ?></textarea>
                        </div>
                    </div>
                </div>
                <div class="tabCon">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">首页模版(手机)：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <span class="select-box" style="min-width: 250px;width: auto;">
                                <select name="home_template_m" class="select catetype">
                                    <option value="0">请选择</option>
                                    {volist name="m_file_list" id="vo" }
                                    <option value="{$vo}" {if $vo==$info.home_template_m} selected {/if}>{$vo}</option>
                                    {/volist}
                                </select>
                            </span>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">列表页模版(手机)：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <span class="select-box" style="min-width: 250px;width: auto;">
                                <select name="list_template_m" class="select catetype">
                                    <option value="0">请选择</option>
                                    {volist name="m_file_list" id="vo" }
                                    <option value="{$vo}" {if $vo==$info.list_template_m} selected {/if}>{$vo}</option>
                                    {/volist}
                                </select>
                            </span>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">详情页模版(手机)：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <span class="select-box" style="min-width: 250px;width: auto;">
                                <select name="details_template_m" class="select catetype">
                                    <option value="0">请选择</option>
                                    {volist name="m_file_list" id="vo" }
                                    <option value="{$vo}" {if $vo==$info.details_template_m} selected {/if}>{$vo}</option>
                                    {/volist}
                                </select>
                            </span>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">首页模版(电脑)：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <span class="select-box" style="min-width: 250px;width: auto;">
                                <select name="home_template_p" class="select catetype">
                                    <option value="0">请选择</option>
                                    {volist name="p_file_list" id="vo" }
                                    <option value="{$vo}" {if $vo==$info.home_template_p} selected {/if}>{$vo}</option>
                                    {/volist}
                                </select>
                            </span>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>

                </div>
                <div class="tabCon">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">seo标题：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="{$info.seo}" name="seo" style="width:200px;">
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">关键词：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="{$info.keywords}" name="keywords">
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">描述：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <textarea name="describe" class="textarea" placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this, 100)">{$info.describe}</textarea>
                            <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <div class="col-9 col-offset-3">
                    <input class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                    <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
            <input type="hidden" value="{$info.id}" name="id" />
        </form>
    </div>

    <!--_footer 作为公共模版分离出去-->
    {include file="Common/_footer" /}
    <!--/_footer 作为公共模版分离出去-->
</html>