<!DOCTYPE HTML>
<html>
    <head>
        {include file="Common/_meta" /} 
        <title>商家菜单列表</title>
        <script type="text/javascript" src="__STATIC__/h-admin/js/seller_menu/seller_menu_list.js"></script>

    </head>
    <body>
        <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商家菜单管理 <span class="c-gray en">&gt;</span> 商家菜单列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
        <div class="page-container">
            <form action="" method="post" class="form form-horizontal" id="forms">
                <div class="text-c">
                    <span class="select-box" style="width:150px">
                        <select name="oneid" class="select catetype">
                            <option value="0" >请选择</option>
                            {volist name="menu_pid_list" id="vo"}
                            <option value="{$vo.id}" {if input('oneid')==$vo['id']} selected {/if}>{$vo.menu_name}</option>
                            {/volist}
                        </select>
                    </span>
                    <input type="text" class="input-text" style="width:250px" placeholder="商家菜单名称" id="search" name="search" value="{:input('search')}">
                    <button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 搜商家菜单</button>
                </div>
            </form>
            <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                    <a class="btn btn-primary radius" onclick="href_url('添加商家菜单', '__URL__/seller_menu_add')" href="javascript:;">
                        <i class="Hui-iconfont">&#xe600;</i> 添加商家菜单</a>
                </span>
                    <span class="r"><strong>{$limit}</strong>条/页,共有数据：<strong>{$list['total']}</strong> 条</span> </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg">
                    <thead>
                        <tr>
                            <th scope="col" colspan="10">商家菜单</th>
                        </tr>
                        <tr class="text-c">
                            <th width="40"><input name="" type="checkbox" value=""></th>
                            <th width="80">ID</th>
                            <th class="text-l">商家菜单名称</th>
                            <th class="text-l">商家菜单方法</th>
                            <th >参数</th>
                            <th width="60">层级</th>
                            <th width="60">排序</th>
                            <th width="150">更新时间</th>
                            <th width="60">显示状态</th>
                            <th width="130">操作</th>
                        </tr>
                    </thead>
                    <tbody>

                        {$seller_menu_html}
                    </tbody>
                </table>
                {$page}
            </div>
        </div>

        <!--_footer 作为公共模版分离出去-->
        {include file="Common/_footer" /}
        <!--/_footer 作为公共模版分离出去-->
    </body>
</html>