<!DOCTYPE HTML>
<html>
    <head>
        {include file="Common/_meta" /} 
        <title>聊天记录列表</title>
        <link rel="stylesheet" type="text/css" href="__STATIC__/socket/css/index/pc_index.css" />
        
        <script type="text/javascript" src="__STATIC__/socket/js/public/functions.js"></script>
        <script type="text/javascript" src="__STATIC__/h-admin/js/kefu_chat/kefu_chat_list.js"></script>
    </head>
    <body>
        <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 聊天记录管理 <span class="c-gray en">&gt;</span> 聊天记录列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
        <div class="page-container">
            <form action="" method="post" class="form form-horizontal" id="forms">
                <div class="text-c">
                    类型&nbsp;
                    <span class="select-box" style="width:200px">
                        <select name="type" class="select type">
                            <option value="0">选择分类</option>
                            <option value="1" {eq name=":input('type')" value='1'} selected{/eq}>用户的信息</option>
                            <option value="2" {eq name=":input('type')" value='2'} selected{/eq}>客服的信息</option>
                        </select>
                    </span>
                    <input type="text" class="input-text" style="width:250px" placeholder="聊天记录" id="search" name="search" value="{$search}">
                    <button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 搜聊天记录</button>
                </div>
            </form>
            <div class="cl pd-5 bg-1 bk-gray mt-20"> 
                <span class="l"><a href="javascript:;" onclick="del(this)" class="btn btn-danger radius">
                        <i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> 
                </span>
                <span class="r"><strong>{$list['per_page']}</strong>条/页,共有数据：<strong>{$list['total']}</strong> 条</span>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="40"><input type="checkbox"></th>
                            <th width="80">ID</th>
                            <th>聊天内容</th>
                            <th>用户名称</th>
                            <th>客服名称</th>
                            <th width="150">类型</th>
                            <th width="150">创建时间</th>
                            <th width="100">操作</th>
                        </tr>
                    </thead>
                    <tbody id="content-tb">
                        {volist name="list['data']" id="vo"}
                        <tr class="text-c">
                            <td><input name="id[]" type="checkbox" value="{$vo.id}"></td>
                            <td>{$vo.id}</td>
                            <td class="text-left"><div class="content_div" go_type="{$vo['go_type']}">{$vo.content}</div></td>
                            <td>{$vo.member_name}</td>
                            <td>{$vo.kefu_name}</td>
                            <td>
                                {eq name="vo['type']" value="1"}用户的信息{/eq}
                                {eq name="vo['type']" value="2"}客服的信息{/eq}
                            </td>
                            <td class="text-1">{$vo.create_time}</td>
                            <td class="td-manage">
                                <a class="ml-5" onClick="href_jump('聊天记录详情', '__URL__/kefu_chat_details?id={$vo.id}')" href="javascript:;" title="编辑">
                                    <i class="Hui-iconfont">&#xe6df;</i>
                                </a>
                                <a class="ml-5" onClick="del(this)" data-id="{$vo.id}" href="javascript:;" title="删除">
                                    <i class="Hui-iconfont">&#xe6e2;</i>
                                </a>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
                {$page}
            </div>
        </div>

        <!--_footer 作为公共模版分离出去-->
        {include file="Common/_footer" /}
        <!--/_footer 作为公共模版分离出去-->
    </body>
</html>