.home-all{
    background: #0099ff;
}
.tejiayouhui-li{
    border:0;
}
.cate-li p{
    color:#fff;
}
.tejiayouhui-xl{
    color:#fff;
}
.tejiayouhui-toptitle{
    color:#fff;
}
.tejiayouhui-title{
    color:#fff;
}
.goodspce_title{
    color:#fff;
}
.layui-flow-more{
    color:#fff;
}