.home-all{
    background: rgba(0,0,0,0.8);
}
.tejiayouhui-li{
    border:0;
}
.cate-li p{
    color:#fff;
}
.tejiayouhui-xl{
    color:#fff;
}
.tejiayouhui-toptitle{
    color:#fff;
}
.tejiayouhui-title{
    color:#fff;
}
.layui-flow-more{
    color:#fff;
}