<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
    <head>
        {include file="Common/_meta" /} 
        <title>修改密码 - 会员管理 - H-ui.admin 3.0</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
    </head>
    <body>
        <article class="page-container">
            <form action="/" method="post" class="form form-horizontal" id="form-change-password">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账户：</label>
                    <div class="formControls col-xs-8 col-sm-9"> {$Info.member_name} </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" value="" name="newpassword" id="newpassword">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" value="" name="newpassword2" id="newpassword2">
                    </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
                    </div>
                </div>
                <input type="hidden" value="{$Info['id']}" id="m_id" name="m_id" />
            </form>
        </article>

        <!--_footer 作为公共模版分离出去-->
        {include file="Common/_footer" /}
        <!--/_footer 作为公共模版分离出去-->
        <!--请在下方写此页面业务相关的脚本-->
        <script type="text/javascript" src="__STATIC__/h-admin/js/member/change_password.js"></script> 
        <!--/请在上方写此页面业务相关的脚本-->
    </body>
</html>