<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
    <head>
        {include file="Common/_meta" /} 
        <title>添加用户 - H-ui.admin 3.0</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
    </head>
    <body>
        <article class="page-container">
            <form action="" method="post" class="form form-horizontal" id="form-member-add" name="form-name">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$Info.member_name}" placeholder="" id="member_name" name="member_name">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="radio-box">
                            <input name="gender" type="radio" value="1" id="sex-1" {if $Info['gender']=='1'} checked {/if}>
                                   <label for="sex-1">男</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="sex-2" name="gender" value="2" {if $Info['gender']=='2'} checked {/if}>
                                   <label for="sex-2">女</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="sex-3" name="gender" value="3" {if $Info['gender']=='3'||empty($Info)} checked {/if}>
                                   <label for="sex-3">保密</label>
                        </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$Info.mobile}" placeholder="" id="mobile" name="mobile">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="@" name="email" value="{$Info.email}" id="email">
                    </div>
                </div>
                <!--		<div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3">附件：</label>
                                        <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
                                                <input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加附件！" style="width:200px">
                                                <a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
                                                <input type="file" multiple name="file-2" class="input-file">
                                                </span> </div>
                                </div>-->
                <!--		<div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3">所在城市：</label>
                                        <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                                                <select class="select" size="1" name="city">
                                                        <option value="" selected>请选择城市</option>
                                                        <option value="1">北京</option>
                                                        <option value="2">上海</option>
                                                        <option value="3">广州</option>
                                                </select>
                                                </span> </div>
                                </div>-->

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">地址：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <textarea name="address" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" onKeyUp="$.Huitextarealength(this, 100)">{$Info.address}</textarea>
                        <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户IP：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <span>{$Info.m_ip}</span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>注册时间：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <span>{$Info.create_time}</span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>最后登录时间：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <span>{$Info.last_time|date="Y-m-d H:i:s",###}</span>
                    </div>
                </div>
                 <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>余额币：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$Info.forehead}" placeholder="" id="forehead" name="forehead">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>积分：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$Info.integral}" placeholder="" id="integral" name="integral">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>状态：</label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="radio-box">
                            <input name="state" type="radio" value="1" id="sex-1" {if $Info['state']=='1'} checked {/if}>
                                   <label for="sex-1">启用</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="sex-2" name="state" value="2" {if $Info['state']=='2'} checked {/if}>
                                   <label for="sex-2">禁用</label>
                        </div>
                    </div>
                </div>

                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input class="btn btn-primary radius" onclick="fromSubmit()" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                    </div>
                </div>
                <input type="hidden" name="id" value="{$Info.id}" />
            </form>
        </article>


        <!--_footer 作为公共模版分离出去-->
        {include file="Common/_footer" /}
        <!--/_footer 作为公共模版分离出去-->
        <script type="text/javascript" src="__STATIC__/h-admin/js/member/member_add.js"></script> 
        <!--请在下方写此页面业务相关的脚本--> 
    </body>
</html>