<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
    <head>
        {include file="Common/_meta" /}

        <title>编辑网站角色 - 管理员管理 </title>
        <style>
            .col-sm-3{
                width:15%;
            }
            .permission-list > dd > dl > dd > label{
                margin-left: 5px;
            }
        </style>
    </head>
    <body>
        <article class="page-container">
            <form action="" method="post" class="form form-horizontal" id="form-admin-role-add">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$Info.name}" placeholder="" id="name" name="name">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">备注：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$Info.remark}" placeholder="" id="remark" name="remark">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">状态：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <label class="">
                            <input type="radio" name="status" value="1" {if $Info['status']==1} checked {/if} > 开启
                        </label>
                        <label class="">
                            <input type="radio" name="status" value="0" {if $Info['status']==0} checked {/if}> 禁用
                        </label>
                    </div>
                </div>
                {if $Info['id']}
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">网站角色：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        {volist name="user_menu" id="vo"}
                        <dl class="permission-list">
                            <dt>
                                <label>
                                    <input type="checkbox" value="{$vo.id}"  name="menuId[]" id="user-Character-0" {if $userMenuRoleIs[$vo['id']]} checked {/if}>
                                           {$vo.instructions}</label>
                            </dt>
                            <dd>
                                {volist name="vo['user_menu1']" id="vo1"}
                                <dl class="cl permission-list2">
                                    <dt>
                                        <label class="">
                                            <input type="checkbox" value="{$vo1.id}" name="menuId[]" id="user-Character-0-0" {if $userMenuRoleIs[$vo1['id']]} checked {/if}>
                                                   <font color="#ff6600">{$vo1.instructions}</font>
                                        </label>
                                    </dt>
                                    <dd>
                                        {volist name="vo1['user_menu2']" id="vo2"}
                                        <label class="">
                                            <input type="checkbox" value="{$vo2.id}" name="menuId[]" id="user-Character-0-0-0" {if $userMenuRoleIs[$vo2['id']]} checked {/if}>
                                                   <font color="#0a6999">{$vo2.instructions}</font>
                                        </label>
                                        {volist name="vo2['user_menu3']" id="vo3"}
                                        <label class="">
                                            <input type="checkbox" value="{$vo3.id}" name="menuId[]" id="user-Character-0-0-0" {if $userMenuRoleIs[$vo3['id']]} checked {/if}>
                                                   <font color="green">{$vo3.instructions}</font>
                                        </label>
                                        {/volist}
                                        {/volist}
                                    </dd>
                                </dl>
                                {/volist}

                            </dd>
                        </dl>
                        {/volist}

                    </div>
                </div>
                {/if}
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <button type="button" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
                        <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                    </div>
                </div>
                <input type="hidden" value="{$Info.id}" placeholder="" id="role_id" name="role_id">
            </form>
        </article>
        <!--_footer 作为公共模版分离出去-->
        {include file="Common/_footer" /}
        <!--/_footer 作为公共模版分离出去-->
        <!--请在下方写此页面业务相关的脚本-->
        <script type="text/javascript" src="__STATIC__/h-admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
        <script type="text/javascript" src="__STATIC__/h-admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
        <script type="text/javascript" src="__STATIC__/h-admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
        <script type="text/javascript">
                            $(function () {
                                $(".permission-list dt input:checkbox").click(function () {
                                    $(this).closest("dl").find("dd input:checkbox").prop("checked", $(this).prop("checked"));
                                    if ($(this).prop("checked")) {
                                        $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", true);
                                    } else {
                                        $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", false);
                                    }
                                });
                                $(".permission-list2 dd input:checkbox").click(function () {
                                    var l = $(this).parent().parent().find("input:checked").length;
                                    var l2 = $(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
                                    if ($(this).prop("checked")) {
                                        $(this).closest("dl").find("dt input:checkbox").prop("checked", true);
                                        $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", true);
                                    } else {
//                        if (l == 0) {
//                            $(this).closest("dl").find("dt input:checkbox").prop("checked", false);
//                        }
//                        if (l2 == 0) {
//                            $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", false);
//                        }
                                    }
                                });

                                $(".btn-success").click(function (e) {
                                    var name = $("#name").val();
                                    if (!name) {
                                        layer.tips('角色名称不能为空', $("#name"), {
                                            tips: [2, '#dd514c']
                                        });
                                        return;
                                    }

                                    var form = new FormData(document.getElementById("form-admin-role-add"));
                                    $.ajax({
                                        url: "{:url('User/user_role_add')}",
                                        type: "post",
                                        data: form,
                                        processData: false,
                                        contentType: false,
                                        dataType: "json",
                                        success: function (data) {
                                            if (data.types === 1) {
                                                layer.msg(data.prompt, {icon: 1});
                                                $("body").addClass("layui-layer-load");
                                                setTimeout(function () {
                                                    closeRefresh();
                                                }, 1000);
                                            } else {
                                                layer.msg(data.prompt, {icon: 5});
                                            }
                                        },
                                        error: function (e) {
                                            layer.msg("错误！！", {icon: 5});
                                        }
                                    });

                                });
                            });
        </script>
        <!--/请在上方写此页面业务相关的脚本-->
    </body>
</html>