<!DOCTYPE HTML>
<html>
    <head>
        {include file="Common/_meta" /} 
        <title>订单详情</title>
        <script type="text/javascript" src="__STATIC__/h-admin/js/order/order_details.js"></script>
        <link href="__STATIC__/h-admin/css/order/order_details.css" rel="stylesheet" type="text/css" >
    </head>
    <body>
        <div class="page-container">
            <form class="form form-horizontal" id="form-article-add" method="post" enctype="multipart/form-data" name="fileinfo">

                <div id="tab-category" class="HuiTab">
                    <a class="btn btn-success radius r" href="" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>

                    <div class="tabBar cl">
                        <span>基本信息</span>
                        <span>会员信息</span>
                        <span>商品信息</span>
                        <span>物流信息</span>
                    </div>
                    <div class="tabCon">
                        <div class="panel panel-default">
                            <div class="panel-header">基本信息</div>
                            <div class="panel-body">
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">订单类型：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        {eq name="order['activity']" value="spell_group"}拼团订单{/eq}
                                        {eq name="order['activity']" value="seconds_kill"}秒杀订单{/eq}
                                        {eq name="order['activity']" value="comdysalesp"}促销订单{/eq}
                                        {in name="order['activity']" value="a_separate_buy,''"}普通订单{/in}
                                    </div>
                                </div>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">订单编号：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        {$order['order_no']}
                                    </div>
                                </div>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">总运费：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        {$order['courier_price']}
                                    </div>
                                </div>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">实付总金额(含运费)：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        <input type="text" class="input-text" value="{$order['total_price']}" id="total_price" name="total_price" style="width:200px;">
                                        <button class="btn btn-primary radius" type="button" onClick="modifyTotalPrice(this)" data-orderid="{$order['id']}">
                                            <i class="Hui-iconfont">&#xe632;</i>修改金额
                                        </button>
                                    </div>
                                </div>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">支付方式：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        {$order['payment']['payment_name']}
                                    </div>
                                </div>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">订单状态：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        {if $order['state']=='10'}
                                        <span class="label label-primary radius">待付款</span>
                                        <button class="btn btn-primary radius" type="button" onClick="modifyStart(this)" data-orderid="{$order['id']}" data-ordertype="order">
                                            <i class="Hui-iconfont">&#xe632;</i>帮付款
                                        </button>
                                        {elseif($order['state']=='11') /} 
                                        <span class="label label label-danger radius">交易关闭</span>
                                        {elseif($order['state']=='20') /} 
                                        <span class="label label-warning radius">待发货</span>
                                        <button class="btn btn-primary radius" type="button" onClick="deliveryStart(this)" data-orderid="{$order['id']}" data-ordertype="order">
                                            <i class="Hui-iconfont">&#xe632;</i>立即发货
                                        </button>
                                        {elseif($order['state']=='30') /} 
                                        <span class="label label-secondary radius">待收货</span>
                                        {elseif($order['state']=='40') /} 
                                        <span class="label label-success radius">已完成</span>
                                        {/if}

                                    </div>
                                </div>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">下单时间：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        {if $order['order_time']}{$order['order_time']|date='Y-m-d H:i:s',###}{else/}0{/if}
                                    </div>
                                </div>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">付款时间：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        {if $order['payment_time']}{$order['payment_time']|date='Y-m-d H:i:s',###}{else/}0{/if}
                                    </div>
                                </div>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">发货时间：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        {if $order['delivery_time']}{$order['delivery_time']|date='Y-m-d H:i:s',###}{else/}0{/if}
                                    </div>
                                </div>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">完成时间：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        {if $order['complete_time']}{$order['complete_time']|date='Y-m-d H:i:s',###}{else/}0{/if}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabCon">
                        <div class="panel panel-default">
                            <div class="panel-header">会员信息</div>
                            <div class="panel-body">
                                {if $order['activity']=='spell_group'}
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">团员：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        <p>
                                            {$order['sg_members_num']}人成团，
                                            {if $order['sgm_member_poor'] > 0}
                                            还差{$order['sgm_member_poor']}人 
                                            {else/} 人数已满，可以发货{/if}
                                        </p>
                                        <ul class="pintuanimg sgm_mlist">
                                            {volist name="order['sgm_member_list']" id="sgmvo" key="index"}
                                            <li class="sgm_mlist-li" title="{$sgmvo['member_name']}">
                                                <img src="__STATIC__/{$sgmvo['photo']}" class="{if $index==1}pintuanimg-active{/if}" onerror="imgExists(this)"/>
                                                <p class="sgm_membern">{$sgmvo['member_name']}</p>
                                            </li>
                                            {/volist}
                                        </ul>
                                    </div>
                                </div>
                                {/if}
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">会员名称：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        {$order['member']['member_name']}
                                    </div>
                                </div>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">收货人：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        {$order['ads_name']}
                                    </div>
                                </div>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">手机号码：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        {$order['ads_mobile']}
                                    </div>
                                </div>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 col-sm-2">收货地址：</label>
                                    <div class="formControls col-xs-8 col-sm-9">
                                        {$order['tcgaddress']}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabCon">
                        <div class="panel panel-default">
                            <div class="panel-header">商品信息</div>
                            <div class="panel-body">
                                <table class="table table-border table-bg table-bordered">
                                    <thead>
                                        <tr class="text-c">
                                            <th width="50">ID</th>
                                            <th>商品名称</th>
                                            <th>规格信息</th>
                                            <th width="100">商品单价</th>
                                            <th width="60">商品数量</th>
                                            <th width="100">支付方式</th>
                                            <th width="100">小计</th>
                                            <th width="80">订单状态</th>
                                            <th width="140">下单时间</th>
                                            <th width="100">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name="order['order_goods']" id="vo"}
                                        <tr class="text-c success">
                                            <th>{$vo['id']}</th>
                                            <td class="text-l">
                                                <img src="__STATIC__/{$vo['goods']['thecover']}" width="20" />&nbsp;
                                                {$vo['goods']['goods_name']}
                                            </td>
                                            <th class="text-l">{$vo['goods_information']}</th>
                                            <th>{$vo['goods_price']}</th>
                                            <td>{$vo['goods_num']}</td>
                                            <th>{$vo['payment']['payment_name']}</th>
                                            <td>{$vo['total_price']}</td>
                                            <td>
                                                {if $vo['state']=='10'}
                                                <span class="label label-primary radius">待付款</span>
                                                {elseif($vo['state']=='11') /} 
                                                <span class="label label label-danger radius">交易关闭</span>
                                                {elseif($vo['state']=='20') /} 
                                                <span class="label label-warning radius">待发货</span>
                                                {elseif($vo['state']=='30') /} 
                                                <span class="label label-secondary radius">待收货</span>
                                                {elseif($vo['state']=='40') /} 
                                                <span class="label label-success radius">已完成</span>
                                                {/if}
                                            </td>
                                            <th>{$vo['tord_time']|date='Y-m-d H:i:s',###}</th>
                                            <td></td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tabCon">
                        <div class="panel panel-default">
                            <div class="panel-header">物流信息</div>
                            <div class="panel-body">
                                <div class="row cl">
                                    <ul class="commentList">
                                        <li class="item cl comliactive">
                                            <a href="#" class="itemas">
                                                <i class="Hui-iconfont">&#xe619;</i>
                                            </a>
                                            <div class="wuliudiv">
                                                <div class="comment-main">
                                                    <header class="comment-header">
                                                        <div class="comment-meta"> 时间
                                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
                                                        </div>
                                                    </header>
                                                    <div class="comment-body">
                                                        <p>你是猴子派来的救兵吗？</p>
                                                    </div>
                                                </div>
                                                <div style="height:40px;"></div>
                                            </div>
                                        </li>
                                        <li class="item cl">
                                            <a href="#" class="itemas">
                                                <i class="Hui-iconfont">&#xe619;</i>
                                            </a>
                                            <div class="wuliudiv">
                                                <div class="comment-main">
                                                    <header class="comment-header">
                                                        <div class="comment-meta">时间
                                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
                                                        </div>
                                                    </header>
                                                    <div class="comment-body">
                                                        <p>你是猴子派来的救兵吗？</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row cl">
                        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                            <button class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
                            <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                        </div>
                    </div>
                    <input type="hidden" value="{$info.id}" name="id" />
            </form>
        </div>


        <!--_footer 作为公共模版分离出去-->
        {include file="Common/_footer" /}
        <!--/_footer 作为公共模版分离出去-->
    </body>
</html>