<html>
    <head>
        <title>客服在线</title>
        {include file="common/js_css" /}
        <link rel="stylesheet" type="text/css" href="__STATIC__/socket/css/index/pc_index.css" />

    </head>
    <body>
        <div class="socket-all">
            <div class="socket-top">咨询客服</div>

            <div class="top-height"></div>
            <div class="contentdiv">
                <ul class="contentdiv-ul" id="contentul">


                </ul>

                <!--商品-->
                {if input('goods_id')}
                <div class="mallz-div floatfalse" id="goods_div">
                    <div class="mallzdiv-auto">
                        <div class="mallzdiv-img">
                            <img src="__STATIC__/{$goods['thecover']}" />
                        </div>
                        <div class="mallzdiv-text">
                            <div class="goods_name2">{$goods['goods_name']}</div>
                            <div class="color-red">单价：￥<span>{$goods['goods_price']}</span></div>
                        </div>
                        <div class="floatright content-btn" id="btn_goods" data-id="{$goods['goods_id']}">发送链接</div>
                    </div>
                </div>
                {/if}
                <!--商品-->
                <!--订单-->
                {if input('order_no')}
                <div class="mallz-div floatfalse" id="order_div">
                    <div class="mallzdiv-auto">
                        <div class="mallzdiv-img">
                            <img src="__STATIC__/{$orderGoods['goods_img']}" />
                        </div>
                        <div class="mallzdiv-text">
                            <div class="goods_name2">订单：{$orderGoods['order_no']}</div>
                            <div class="color-red">实付：￥<span>{$orderGoods['total_price']}</span></div>
                        </div>
                        <div class="floatright content-btn" id="btn_order" data-id="{$orderGoods['id']}">发送链接</div>
                    </div>
                </div>
                {/if}
                <!--订单-->
            </div>
            <div class="bottom-height"></div>
        </div>

        <div class="btndiv-all">

            <div class="btndiv-auto">
                <div class="face-box" style="display:none" id="face-box"></div>
                <div class="btndiv-img">
                    <div><i class="layui-icon" id="up-face">&#xe6af;</i></div>
                    <div><i class="layui-icon" id="up-image">&#xe64a;</i></div>
                </div>
                <div class="btndiv-text">
                    <textarea class="btndivtextar" placeholder="输入发送内容" id="content"></textarea>
                </div>
                <div class="btndiv">
                    <button class="content-btn" id="send">发送</button>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var infos = {
                socket_ip: "{:config('socket_ip')}",
                type: 1,
                kefu_id: '{$kefu.id}',
                kefu_images: '{$kefu.images}',
                member_id: '{$member.id}',
                member_photo: '{$member.photo}',
                content: '{$kefuStatements.content}',
            };
        </script>
        <script type="text/javascript" src="__STATIC__/socket/js/index/pc_index.js"></script>
    </body>
</html>
